
<div class="bg-img" style="background-image: url(<%= rails_blob_url(@resort.trail) %>) !important"></div>


<h1><%= @resort.name %> </h1>

<div class="tipsTable">
  <table class="table">
    <thead>
      <tr>
        <th class="title">Title</th>
        <th class="body">Body</th>
        <th class="score">Score</th>
        <th class="category">Category</th>
        <th colspan="1" class="tipsButton"></th>
        <th colspan="1" class="tipsButton"></th>
      </tr>
    </thead>

    <tbody>
      <% @resort.tips.each do |tip| %>
        <tr>
          <td class="title"><%= tip.title %></td>
          <td class="body"><%= tip.body %></td>
          <td class="score"><%= tip.score %></td>
          <td class="category"><%= tip.category %></td>
          <td class="tipsButton"><%= link_to 'Edit', edit_tip_path(tip) %></td>
          <td class="tipsButton"><%= link_to 'Destroy', tip, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="tips">

  <h2>Add a Tip!</h2>

  <%= form_for([@resort, @resort.tips.build]) do |form|  %>

    <%= form.hidden_field :user_id, :value => @user.id %>

    <div class="field">
      <%= form.label :title %>
      <br>
      <%= form.text_field :title %>
    </div>

    <div class="field">
      <%= form.label :body %>
      <br>
      <%= form.text_area :body %>
    </div>

    <div class="field">
      <%= form.label :category %>
      <br>
      <%= form.number_field :category %>
    </div>

    <div class="actions">
      <%= form.submit %>
    </div>
  <% end %>
</div>

<%= link_to 'Back', resorts_path %>
