<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @resort.name %>
</p>

<p>
  <strong>State:</strong>
  <%= @resort.state %>
</p>

<p>
  <strong>Image:</strong>
  <%= @resort.image %>
</p>

<p>
  <strong>Epic:</strong>
  <%= @resort.epic %>
</p>

<p>
  <strong>Ikon:</strong>
  <%= @resort.ikon %>
</p>

<%= link_to 'Edit', edit_resort_path(@resort) %> |
<%= link_to 'Back', resorts_path %>

<% @resort.tips.each do |tip| %>

  <p>
    <strong>Title:</strong>
    <%= tip.title %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= tip.body %>
  </p>

  <p>
    <strong>Score:</strong>
    <%= tip.score %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= tip.category %>
  </p>

<% end %>

<%= form_for([@resort, @resort.tips.build]) do |form|  %>

  <%= form.hidden_field :user_id, :value => @user.id %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :body %>
    <%= form.text_area :body %>
  </div>

  <div class="field">
    <%= form.label :category %>
    <%= form.number_field :category %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
